<%- include("partials/header"); -%>

<div class="card APOD text-white bg-dark mt-5 mb-3">
  <div class="card-header">
    Picture Of The Day
  </div>
  <img class="card-img-top" src="<%= image %> " alt="Can not Display the Image">
  <div class="card-body">
    <h5 class="card-title"><%= title %> </h5>
    <p class="card-text"><%= explanation %> </p>
    <p class="card-text"><small class="text-muted"><%= copyright %> </small></p>
  </div>
</div>

<%- include("partials/footer"); -%>